<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染</title>
</head>
<body>

<!--
1. 列表显示
  数组: v-for / index
  对象: v-for / key
2. 列表的更新显示
  删除item
  替换item


  重点:Vue的数据绑定实现:
          1:Vue会监视data中的所有层次的属性!->不管嵌套了多少次,只要的data中的就会监视
          2:data中的对象属性数据通过set方法来实现监听
          3:data中的数组属性数据也实现了监听:Vue底层重写了数组一系列更新元素的方法
            1):调用原生对应的方法去更新数组元素
            2):更新界面
-->

<div id="demo">
  <h2>测试: v-for 遍历数组</h2>
    <ul>
      <li v-for="(p, index) in persons" :key="index" >
        {{p.id}} -- {{p.name}} -- {{p.age}} 
        <button @click = 'deleteP(index)'>删除</button>
        <button @click ='updateP(index,{id:Date.now(),name:"你",age:20})'>更新</button>
      </li>
    </ul>
  <h2>测试: v-for 遍历对象</h2>

  <ul>
    <li v-for="(item, key) in persons[1]" :key="key">{{key}}={{item}}</li>
  </ul>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el : '#demo',
    data:{
      persons:[
        {id:1,name:'叶',age:20},
        {id:2,name:'永',age:21},
        {id:3,name:'耶',age:22},
        {id:4,name:'勇',age:23}
      ]
    },
    methods: {
      deleteP(index){
        this.persons.splice(index,1)
      },
      updateP(index,newP) {
        this.persons.splice(index,1,newP)
        // this.persons[index] = newP 使用这种不会更新界面，因为数组是通过重写方法来实现监听的
      },
    },
  })
/*
  new Vue({
    el: '#demo',
    data: {
      persons: [
        {name: 'Tom', age:18},
        {name: 'Jack', age:17},
        {name: 'Bob', age:19},
        {name: 'Mary', age:16}
      ]
    },

    methods: {
      deleteP (index) {
        this.persons.splice(index, 1) // 调用了不是原生数组的splice(), 而是一个变异(重写)方法
              // 1. 调用原生的数组的对应方法
              // 2. 更新界面
      },

      updateP (index, newP) {
        console.log('updateP', index, newP)
        // this.persons[index] = newP  // vue根本就不知道
        this.persons.splice(index, 1, newP)
        // this.persons = []
      },

      addP (newP) {
        this.persons.push(newP)
      }
    }
  })
  */
</script>
</body>
</html>